div.container {
	width: 100%
	padding: 13px;
}

div.left-bar {
	width: 180px;
	display: inline-block;
	height: 100%;
	/*outline: dotted red 1px;*/
}
div.main_body {
	display: inline-block;
	width: 70%;
	min-width: 17em
	margin-left: 2%;
}
.posts {
	width: 70%;
	background-color: #f9f9f9;
	border-radius: 30px;
	padding-left: 30px;
	padding-top: 20px;
	margin-top: 5px;
	padding-bottom: 10px;
}
p {
	display: inline-block;
}
h4{
	display: inline-block;
}
